.btn {
  margin-top: 20px;
}

.containerOne, .containerTwo {
  display: flex;
  flex-flow: column;
  justify-content: end;
  
}
.containerTwo {
  margin: 40px 0 20px;
}

.searchFormDiv {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}

/* Стили для новостной ленты */
.container-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

  
.cardList {
min-width: 90%;
display: flex;
justify-content: space-even;
flex-wrap:wrap;
}
.articleCard {
display: flex;
border-radius: 10px;
flex-direction: column;
align-items: center;
justify-content: space-between;
width: 25%;
margin: 20px;
padding: 15px;
background-color: rgb(243, 243, 243);
}
.articleCard:hover {
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}


#okno {
  text-align: center;
  padding: 15px;
  color: #0000cc;
  display: none;
}
#okno:target {
  display: block;
}
